
.q-btn {

    margin: 20px;
  }
  .textcenter {
    margin: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 20px;
  }
  .q-tabs__content.row{
    justify-content: center;
  }
  .menuClases{
    width: 33%;
  }
  #cabeza{
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .menuOpciones{
    width: 250px;
    
  }

  
  
  /**esto esconde el modal de la izquierda */
  #app > div > div > div:nth-child(3) > aside{
    display: none !important;
  }


  #app > div > div > div:nth-child(3) > aside > div{
    display: none !important;
  }