


#app{
  margin-top: 130px;
}

#app > div > header{
  background-color: #023e8a !important;
}


#app > div > div:nth-child(4) > aside{
  display: none;
}

#app > div > div.q-page-container{
  padding: 0% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



#app > div > div > div:nth-child(4) > aside{
  display: none !important;

}


